aiofiles
aiohttp
beautifulsoup4
bing-image-urls
bing_image_downloader
Cloudscraper
dnspython
ffmpeg-python
future==0.18.3
gitpython
googlesearch-python
gpytranslate
hachoir
heroku3
httpx[http2]
motor==3.3.2
MukeshAPI
ntgcalls==1.2.1
Pillow
psutil
py-tgcalls==1.2.1
pykeyboard
pymongo==4.6.3
python-dotenv
pyyaml==6.0.1
qrcode
requests
SafoneAPI==1.0.65
search_engine_parser
speedtest-cli
spotipy
telegraph
telethon==1.33.1
tgcrypto
unidecode
urllib3
wget
youtube-search-python
yt-dlp
git+https://github.com/KurimuzonAkuma/pyrogram.git@2ae00a2710dd3e347798473f3dd784e9639edb1a
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
aiofiles
aiohttp
beautifulsoup4
bing-image-urls
bing_image_downloader
cloudscraper
dnspython
ffmpeg-python
future==0.18.3
gitpython
googlesearch-python
gpytranslate
hachoir
heroku3
httpx[http2]
motor==3.3.2
MukeshAPI
ntgcalls==1.2.1
Pillow
psutil
py-tgcalls==1.2.1
pykeyboard
pymongo==4.6.3
pyrogram
python-dotenv
pyyaml==6.0.1
qrcode
requests
SafoneAPI==1.0.65
search_engine_parser
speedtest-cli
spotipy
telegraph
telethon==1.33.1
tgcrypto
unidecode
urllib3
wget
youtube-search-python
yt-dlp
aiofiles
aiohttp
beautifulsoup4
cloudscraper
dnspython
ffmpeg-python
future==0.18.3
gitpython
gpytranslate
hachoir
heroku3
httpx[http2]
motor==3.3.2
Pillow
psutil
pymongo==4.6.3
python-dotenv
pyyaml==6.0.1
qrcode
requests
speedtest-cli
spotipy
telegraph
telethon==1.33.1
tgcrypto
unidecode
urllib3
yt-dlp
bing-image-urls
bing_image_downloader
MukeshAPI
ntgcalls==1.2.1
py-tgcalls==1.2.1
pykeyboard
SafoneAPI==1.0.65
search_engine_parser
wget
youtube-search-python
